@import "sImoJS/fonts/Papyrus.css";

body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
    line-height: 140%;
    overflow-x: hidden;
}
.menu,
.cover {
    width: 100%;
}

.cover {
    height: 400px;
    background: url(images/projects/x/projX.jpg) no-repeat center;
    border: none;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    display: block;
}

.menu {
    height: 80px;
    background-color: whitesmoke;
    border-top: 1px solid gainsboro;
    position: absolute;
    z-index: 1;
}

.menu .menu-item {
    border-bottom: 1px solid gainsboro;
    height: 70px;
    width: 100%;
    padding-left: calc(25% + 30px);
    background-color: white;
}

.content {
    display: inline-block;
    position: absolute;
    height: auto;
    width: 100%;
}

.content-left {
    text-align: right;
}

.content-right {
    padding-right: 10px;
    max-width: 340px;
}
.content-left,
.content-right {
    width: 25%;
}

.content-left,
.content-center,
.content-right {
    display: inline-block;
    float: left;
    height: 100%;
    padding-top: 90px;
    margin-bottom: 32px;
}

.content-center:not(.project) {
    background-color: white;
    /*border: 1px solid rgba(220, 220, 220, 0.70);*/
}

.content-center {
    width: calc(50% - 30px);
    margin: 0 15px;
}

.profile .name p {
    margin: 0;
    line-height: 100%;
    font-size: 30px;
    text-shadow: rgba(255, 0, 0, 0.90) -0.04em 0.04em 3px
}

.profile .name p:first-child {
    font-size: 40px;
    line-height: 110%;
    font-family:  Papyrus, "Ubuntu Mono", "Lucida Console", Monaco, monospace;
    font-weight: bold;
}

.profile .name {
    width: calc(75% - 120px);
    margin-left: calc(25% + 120px);
    background-color: transparent;
    height: 140px;
    float: left;
    position: absolute;
    margin-top: 260px;
    color: white;
    overflow: hidden;
    z-index: 1;
}

.menu .menu-item .image,
.profile .image {
    border: 1px solid gainsboro;
    background: white url(images/pcp.svg) no-repeat center;
    -webkit-background-size: 100%;
    background-size: 80%;
}

.menu .menu-item .image {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    float: left;
    margin-top: 3px;
    margin-right: 30px;
}

.profile .image {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    float: left;
    margin-left: calc(25% - 100px);
    margin-top: 250px;
    position: absolute;
    z-index: 2;
}

.content-list .list:last-child {
    margin-bottom: 32px;
}

.footer {
    bottom: -50px;
    position: fixed;
    color: grey;
    width: 100%;
    height: 32px;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    background-color: whitesmoke;
}

.footer.show {
    transform: translateY(-50px);
}

.powered-by:hover {
    color: #59f;
}
.powered-by {
    cursor: pointer;
}

.menu .menu-item .item:hover:not(.selected) {
    background-color: rgba(220, 220, 220, 0.67);
}
.menu .menu-item .item:hover:active {
    background-color: transparent;
}

.menu .menu-item .item {
    float: left;
    min-width: 100px;
    cursor: default;
}

.menu .menu-item .item:not(.selected) {
    cursor: pointer;
}

.menu .menu-item .item .label {
    height: 63px;
    line-height: 65px;
    text-align: center;
}
.menu .menu-item .item.project .marker {
    background-color: #ff2a2a;
}
.menu .menu-item .item .marker {
    height: 5px;
    position: relative;
}
.menu .menu-item .item .label,
.menu .menu-item .item .marker {
    padding: 0 50px;
    width: 100%;
}
.zeroOpacity {
    opacity: 0;
}

.content {
    color: #1d2129;
}

.content-list p {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.content-list .list .list-icons .icon-delete {
    background: url(images/trash-bin.svg) no-repeat center;
}

.content-list .list .list-icons .icon-edit {
    margin-right: 10px;
    background: url(images/pencil.svg) no-repeat center;
}

.content-list .list .list-icons .icon-edit,
.content-list .list .list-icons .icon-delete {
    background-size: 100%;
    width: 15px;
    height: 15px;
    opacity: .3;
}

.content-list .list .list-icons .icn .icn-edit,
.content-list .list .list-icons .icn .icn-delete {
    padding: 5px 7px 5px 30px;
}

.content-list .list .list-icons .icn .icn-edit {
    background: url(images/pencil.svg) no-repeat 10px center;
}

.content-list .list .list-icons .icn .icn-delete {
    background: url(images/trash-bin.svg) no-repeat 10px center;
}

.content-list .list .list-icons .icn {
    background-color: whitesmoke;
    padding: 5px 0;
    border: 1px solid rgba(255, 42, 42, 0.30);
    position: absolute;
    z-index: 1;
    margin-top: 18px;
    margin-left: -58px;
    box-shadow: black -2px 2px 7px;
}

.content-list .list .list-icons {
    width: 20px;
    height: 23px;
    background: url(images/dot-dot-dot.svg) no-repeat center;
    background-size: 100%;
}

.content-list .list .list-icons .icn .icn-edit:hover,
.content-list .list .list-icons .icn .icn-delete:hover {
    background-color: rgba(255, 42, 42, 0.30);
}

.content-list .list .list-icons .icn .icn-edit:hover:active,
.content-list .list .list-icons .icn .icn-delete:hover:active {
    background-color: rgba(255, 42, 42, 0.1);
}
.content-list .list .list-icons,
.content-list .list .list-icons > div {
    cursor: pointer;
}

.content-list .list {
    display: inline-block;
    width: 100%;
}

.content-list .address {
    line-height: 25px;
    height: 20px;
}

.content-list .name {
    font-size: 20px;
    float: left;
    margin-right: 7px;
}

.content-list .time-stamp {
    font-size: 9px;
    float: right;
}
.content-list .description,
.content-list .image {
    margin-top: 10px;
}

.content-list .image {
    width: 100%;
    height: 300px;
    border: 1px solid rgba(220, 220, 220, 0.70);
    background: rgba(220, 220, 220, 0.60) url(images/no-image.svg) no-repeat center;
    background-size: 50%;
    cursor: pointer;
}

.add-project {
    width: 500px;
}

.add-pcp-user {
    margin-top: 20px;
}

.content-center > .search-bar {
    display: flex;
}

.content-center > .content-list > div:not(:last-child),
.content-center > div:not(:last-child) {
    margin-bottom: 10px;
}
.content-center > .search-bar,
.content-center > .content-list > div {
    padding: 10px;
    border: 1px solid rgba(220, 220, 220, 0.70);
    background-color: white;
}

.search-bar input {
    margin-right: 5px;
    width: 100%;
}

.search-bar .sImoButton:not(:last-child) {
    margin-right: 5px;
}

.search-bar .sImoButton {
    width: 100px;
}

[name=sImo-ui-modal] > [name=sImo-ui-div] > .sImo-ui-div button:not(:last-child) {
    margin-right: 5px;
    width: calc(50% - 2.5px);
}

[name=sImo-ui-modal] > [name=sImo-ui-div] > .sImo-ui-div button {
    width: calc(50% - 2.5px);
}

[name=sImo-ui-modal] > [name=sImo-ui-div] > .sImo-ui-div {
    padding: 20px 30px;
}

[name=sImo-ui-modal] > [name=sImo-ui-div] {
    min-width: 300px;
}

.pcp-user {
    margin-bottom: 20px;
}

.pcp-login .anchor {
    line-height: 30px;
}

.pcp-user .sImo-ui-div,
.pcp-login .sImo-ui-div {
    width: 100%
}

.pcp-user .sImo-ui-div .sImo-ui-div,
.pcp-login .sImo-ui-div .sImo-ui-div {
    padding: 20px 15px 15px 15px;
    background-color: white;
}

.pcp-user .sImo-ui-div input,
.pcp-login .sImo-ui-div input {
    margin: 3px 0 10px 0;
    width: 100%
}

button:not(:last-child) {
    margin-right: 5px;
}

.image-slide {
    position: absolute;
    display: inline-block;
    z-index: 0;
    background-size: 100% !important;
}

.slide-control .control-button:hover:active {
    opacity: .7;
}
.slide-control .control-button:hover {
    opacity: 1;
}

.slide-control .control-button {
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    position: absolute;
    background: white;
    color: red;
    border-radius: 15px;
    border: 1px solid red;
    opacity: .3;
    cursor: pointer;
}

.slide-control .control-button.play {
    margin-top: 10px;
}

.slide-control .control-button.next,
.slide-control .control-button.previous {
    font-size: 30px;
    line-height: 24px;
}

.slide-control .control-button.previous {
    float: left;
    left: 10px;
}

.slide-control .control-button.next,
.slide-control .control-button.play {
    float: right;
    right: 10px;
}

.slide-control .control-button.disabled {
    color: gainsboro;
    border: 1px solid gainsboro;
}

.slider-shadow {
    box-shadow: inset 0 0 70em deepskyblue;
}

.invisible-slide {
    opacity: 0 !important;
}

.error {
    color: red !important;
}

.pcp-session-user,
.pcp-session-logout {
    display: inline-block;
}

.pcp-session-logout {
    margin-top: 10px;
}

.pcp-session-user {
    text-transform: capitalize;
    margin-left: 3px;
}

.hidden {
    display: none !important;
}

.pcp-login-button {
    width: 40px;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    display: inline-block;
    cursor: pointer;
}

.pcp-login-button.on {
    background-image: url(images/power-on.svg);
}

.pcp-login-button.off {
    background-image: url(images/power-off.svg);
}

.pcp-login-button.on:hover {
    background-image: url(images/power-on-2.svg);
}

.pcp-login-button.off:hover {
    background-image: url(images/power-on.svg);
}

.pcp-login-button:hover {
    background-color: rgba(220, 220, 220, 0.70);
}

.pcp-login-button:hover:active {
    opacity: .7;
}

.box-shadow-out-red {
     box-shadow: 0 0 3em #ff2a2a;
 }

.box-shadow-in-red {
    box-shadow: inset 0 0 3em #ff2a2a;
}

@media screen and (max-width: 800px) {
    .cover {
        height: 200px;
    }
    .profile .image {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        margin-left: 20px;
        margin-top: 140px;
    }
    .profile .name {
        width: calc(100% - 130px);
        margin-left: 130px;
        height: 65px;
        margin-top: 135px;
    }
    
    .profile .name p:first-child {
        font-size: 20px;
    }
    .profile .name p {
        font-size: 15px;
    }
    .menu {
        height: 60px;
    }
    .menu .menu-item {
        height: 50px;
        width: 100%;
        padding-left: 55px;
    }
    .menu .menu-item .image {
        width: 42px;
        height: 42px;
    }
    .menu .menu-item .item {
        min-width: 50px;
        font-size: 14px;
    }
    .menu .menu-item .item .label,
    .menu .menu-item .item .marker {
        padding: 0 10px;
    }
    .menu .menu-item .item .label {
        height: 44px;
        line-height: 47px;
    }
    .content-left,
    .content-center,
    .content-right {
        padding-top: 60px;
    }
    
    .content-center {
        width: 100%;
        margin: 0;
    }
    
    .content-left,
    .content-right {
        display: none;
    }
    
    .content-list .image {
        height: 200px;
    }
    
    .add-project {
        width: 95%;
    }
}

.login-modal {
    min-width: 200px !important;
}

.login-modal .red.sImo-ui-div,
.login-modal .red.sImo-ui-div .sImo-ui-div {
    padding: 0;
    min-height: 150px;
}

.login-modal .red.sImo-ui-div .sImo-ui-div .anchor,
.login-modal .red.sImo-ui-div .sImo-ui-div-label {
    display: none;
}
.login-modal .red.sImo-ui-div {
    border: none !important;
}