<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style type="text/css">
    .pcp-signup .sImo-ui-div {
        width: 500px;
    }
    .pcp-signup .sImo-ui-div .sImo-ui-div {
        padding: 20px 15px 15px 15px;
        background-color: white;
    }
    
    .pcp-signup .sImo-ui-div input {
        margin: 3px 0 10px 0;
        width: 100%
    }
    
    .upload-field [type=file] {
        opacity: 0;
    }
    
    .user-profile {
        display: block;
    }
    
    .role-section {
        margin-right: 10px;
    }
    
    .role-section,
    .user-profile .image {
        width: 177px;
    }
    
    .user-profile .image {
        height: 177px;
        margin-right: 10px;
        background: url(images/no-image.svg) no-repeat center;
        background-size: 100%;
    }
    
    .email-section,
    .user-profile .user {
        width: calc(100% - 187px)
    }
    
    .user-profile .image,
    .user-profile .user {
        float: left;
        display: inline-block;
    }
    
    .pcp-user-role {
        margin-bottom: 2px;
    }
    
    form#profileImages,
    form#profileImages .upload-field,
    form#profileImages .upload-field .preview,
    form#profileImages .upload-field .preview img,
    form#profileImages .upload-field input[type=file] {
        display: block;
        width: 100%;
        height: 100%
    }

    .user-profile .image,
    form#profileImages .upload-field .preview img {
        border-radius: 50%;
    }
    
    form#profileImages .upload-field input[type=file] {
        margin: 0;
        padding: 0;
        margin-top: -100%;
        cursor: pointer;
    }

</style>
<div class="pcp-signup">
    <div class="user-profile">
        <div class="image">
            <form id="profileImages">
                <div class="upload-field">
                    <div class='preview'></div>
                    <input type="file" name="profileImage" class="float-left" onchange="fileUploadChanged(this);" accept="image/*" multiple/>
                </div>
            </form>
        </div>
        <div class="user">
            <label>First Name:</label>
            <input type="text" name="firstName" placeholder="First Name" onblur="validateSignup(this)" class="red capitalize"/>
            
            <label>Last Name:</label>
            <input type="text" name="lastName" placeholder="Last Name" onblur="validateSignup(this)" class="red capitalize"/>
            
            <label>User Name:</label>
            <input type="text" name="userName" placeholder="User Name" onblur="validateSignup(this)" class="red lowercase"/>
        </div>
    </div>
    
    <div class="clear"></div>
    
    <div class="float-left role-section">
        <label class="pcp-user-role float-left">User Role:</label>
        <div class="clear"></div>
        
        <select name="role" class="red" width="170px">
            <% roleOptions %>
        </select>
    </div>
    <div class="float-left email-section">
        <label>Email Address:</label>
        <input type="text" name="email" placeholder="Email Address" onblur="validateSignup(this)" class="red lowercase"/>
    </div>
    
    <div class="clear"></div>
    
    <label>Password:</label>
    <input type="password" name="password" placeholder="Password" onblur="validateSignup(this)" class="red"/>
    
    <label>Comfirm Password:</label>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" onblur="validateSignup(this)" class="red"/>
    
    <br/><br/>
    
    <button class="signup red disabled" onclick="onSignupClick(this)">Signup</button>
    <button class="cancel" onclick="closeModal(this)">Cancel</button>
</div>
</body>
</html>