@font-face{font-family:'Ubuntu-Light';src:url('Ubuntu-Light/Ubuntu-Light.eot');src:url('Ubuntu-Light/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),url('Ubuntu-Light/Ubuntu-Light.woff2') format('woff2'),url('Ubuntu-Light/Ubuntu-Light.woff') format('woff'),url('Ubuntu-Light/Ubuntu-Light.ttf') format('truetype'),url('Ubuntu-Light/Ubuntu-Light.svg#Ubuntu-Light/Ubuntu-Light') format('svg');font-weight:300;font-style:normal}
